openapi: 3.1.0
info:
  title: Spotify Relay API
  description: >
    This API relays arbitrary HTTP requests to the Spotify Web API via a single POST entrypoint.
    Designed for use in Custom GPTs with API key authentication.
  version: 1.0.0

servers:
  - url: https://asia-northeast1-gpt-relay.cloudfunctions.net/relay/spotify

paths:
  /:
    post:
      operationId: relay
      summary: Relay a Spotify API request
      description: >
        Relays a specified HTTP request to the Spotify Web API.
        Specify the method, path, and optional query/body parameters.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - method
                - path
              properties:
                method:
                  type: string
                  enum: [GET, POST, PUT, DELETE, PATCH]
                  description: HTTP method to use when calling the Spotify API
                path:
                  type: string
                  description: Spotify API path (e.g. "/me/top/tracks")
                query:
                  type: object
                  properties: {}
                  additionalProperties:
                    type: string
                  description: Optional query parameters as key-value pairs
                body:
                  type: object
                  properties: {}
                  additionalProperties: true
                  description: Optional request body (for POST, PUT, PATCH)
      responses:
        "200":
          description: Successful relay of the request
          content:
            application/json:
              schema:
                type: object
                description: Response from the Spotify API
                properties: {} # ✅ 必須
        "400":
          description: Malformed or incomplete request body
        "401":
          description: Unauthorized (invalid or missing API key)
        "500":
          description: Internal server error

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
  schemas:
    Foo:
      type: object
      properties:
        bar:
          type: string
          description: bar desc.

security:
  - ApiKeyAuth: []
