@x_api_key = x_api_key
@spotify_basic = spotify_basic
@spotify_auth_code = spotify_auth_code
@spotify_redirect_uri = spotify_redirect_uri
@host = host

### Spotify User

GET https://{{host}}/spotifyRelay?path=/me
X-API-KEY: {{x_api_key}}

### Spotify Following

GET https://{{host}}/spotifyRelay?path=/me/following&type=artist
X-API-KEY: {{x_api_key}}


### Spotify Token Request

POST https://accounts.spotify.com/api/token
Authorization: Basic {{spotify_basic}}
Content-Type: application/x-www-form-urlencoded

grant_type=authorization_code
&code={{spotify_auth_code}}
&redirect_uri={{spotify_redirect_uri}}
